
@{
    ViewBag.Title = "DetalleSalud";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="container">
    <div class="row">
        <h1 id="idCotizacions">Salud - Detalle de Cotización</h1>
        <h3 id="Titulo">Titulo</h3>
        <div class="col-lg-2">
            <h4>Nombres</h4>
            <span id="Nombres"></span>
        </div>
      
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">
            <h4>Edad</h4>
            <span id="Edad"></span>
        </div>

        <div class="col-lg-2">
            <h4>DNI</h4>
            <span id="DNI"></span>
        </div>
        <div class="col-lg-2">
            <h4>Email</h4>
            <span id="Email"></span>
        </div>
        <div class="col-lg-2">
            <h4>Teléfono</h4>
            <span id="Telefono"></span>
        </div>
    </div>
    <hr />

    <div class="row">
        <h2>Tasas Anuales IGV Incluido</h2>
        <!--MODO TABLA-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>RIMAC</th>
                    <th>PACIFICO</th>
                    <th>MAPFRE</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--first example-->
                    <td id="RIMAC"></td>
                    <td id="PACIFICO"></td>
                    <td id="MAPFRE"></td>
                 
                </tr>
            </tbody>
        </table>
        <!--FIN MODO-->



    </div>

</div>
<script src="~/Javascript/CotizacionSaludDetalle.js?MOD01"></script>
<input type="hidden" name="idCotizacion" id="idCotizacion" value="@ViewBag.idCotizacionSalud" />