
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DigitalBrokers.pe |Corredores |Seguro Online| Seguro Vehicular | Seguro Vida | Seguro Hogar | Broker| Asegura | Auto | Automoviles | Aseguradora | Digital | Seguros Lima | Seguros Provincia | Particular | Taxis | Corredora| Tu Seguro</title>
    <meta name="keywords" content="Digitalbrokers.pe, Seguro, Seguro Online, Seguro vehicular, Seguro vida, Seguro hogar, Autos, Aseguradora, Lima, Peru, Provincias, Particular">
    <meta name="description" content="DigitalBrokers.pe, Seguro vehicular, Seguro Online, Corredores, Online, Asesor">
    <meta name="language" content="es">
    <meta name="news_keywords" content="Digital Brokers , www.digitalbrokers.pe ">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index, follow">
    <meta name="organization" content="Digital Brokers S.A.">

    <link rel="stylesheet" href="~/css/material.light_blue-blue.min.css" />
    <link rel="stylesheet" href="~/css/material-modal.min.css?0001">
    <link rel="stylesheet" href="~/css/estilos.css?0001">
    <link rel="stylesheet" href="~/css/mdl-selectfield.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89735762-1', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="mdl-layout__content" id="cotizaya">
        <!--En Breve-->
        <div class="cf-slide-comming mdl-typography--text-center">
            <div class="cf-slogan-ppal cf-slogan">


            </div>
        </div>
        <div class="cf-slogan-ppal cf-slogan mdl-typography--text-center" id="efecto">
            DigitalBrokers.pe pronto tu mejor seguro en tu bolsillo.
        </div>
        <div class="mdl-typography--text-center">
            <div class="cf-paseo">
                <div class="informacion-seguro">
                    <div class="contenedor-informacion">
                        <img src="~/imagenes/reloj.png" />
                        <span>Compara</span>
                        <p>Cotiza tu seguro vehicular con todas las aseguradoras del mercado en segundos.</p>
                    </div>
                    <div class="contenedor-informacion">
                        <img src="~/imagenes/ahorra.png" />

                        <span>Asegura tu vehículo</span>
                        <p>Te asistimos antes, durante y después de la contratación de tu seguro vehicular.</p>
                    </div>
                    <div class="contenedor-informacion">
                        <img src="~/imagenes/ahorra_.png" />

                        <span>Ahorra</span>
                        <p>El mejor precio garantizado. Además gana una regalos inmediatamente.</p>
                    </div>
                </div>

            </div>
        </div>
        <!--En Breve Tu Seguro-->

    </div>
    
   
</body>

</html>
