@{
    ViewBag.Title = "Preguntas Frecuentes";
    Layout = "~/Views/Shared/_Principal.cshtml";
}


<div class="cf-slide-faq mdl-typography--text-center">
    <div class="cf-slogan-ppal cf-slogan">¿Tienes dudas? Respondemos todas tus preguntas.</div>

    <div class="container">
        <div class="accordion">
            <dl>
                <dt>

                    <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">local_car_wash</i>
                        Necesito un seguro ¿Qué hago?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                    <p>Puedes empezar utilizando nuestro cotizador virtual para generar un comparativo entre las principales aseguradoras del mercado peruano. Déjanos tus datos y nos contactaremos lo antes posible.</p>
                </dd>


                <dt>
                    <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">group_work</i>
                        ¿Como funciona la plataforma?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                    <p>Utiliza nuestro cotizador de vehículos y salud en la página principal, allí podrás solicitar de manera inmediata tu cotización comparativa de salud y vehículos entre las 5 principales aseguradoras del mercado, eligiendo la opción que mas te convenga.  Además un ejecutivo se estará contactando contigo para asesorarte de una manera mas personalizada.</p>
                </dd>
                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">tag_faces</i>
                        ¿Quienes Somos?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Somos Digital Brokers nacimos con la misión de hacerte la vida mas sencilla a la hora de tomar un seguro, sea vehicular o de otro ramo, queremos que te sientas cómodo en todo el proceso. Buscaremos la mejor opción para ti, contáctanos.</p>
                </dd>

                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">pan_tool</i>
                        ¿Que me cubre un Seguro Vehicular?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Este seguro otorga básicamente 3 tipos de cobertura:</p>
                    <p>Cobertura para daños Materiales:  La póliza ampara al propietario del vehículo contra las consecuencias económicas de choque, vuelco, incendio, robo parcial o total y rotura de lunas. De acuerdo a la compañía se ofrecen beneficios extras como chofer de reemplazo, vehículo de reemplazo, grabado de lunas, etc.</p>
                    <p>Cobertura para daños Personales: Contempla indemnizaciones por muerte, invalidez e incapacidad de las víctimas del accidente; así como también el pago de los gastos de atención médica: hospitalaria, quirúrgica, farmacéutica y gastos de recuperación o de rehabilitación del accidentado.</p>
                    <p>Cobertura de Responsabilidad Civil:  Ofrece cobertura de acuerdo a lo que el propietario del vehículo debe enfrentar como consecuencia de los daños causados a la persona o propiedad de terceros.</p>
                </dd>

                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">add_circle_outline</i>
                        ¿Que me cubre un Seguro de Salud?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Es la mejor opción de garantizar el pago de un accidente o un tratamiento de cualquier enfermedad que se pueda presentar. Siempre habrá un seguro a tu medida, solo deja que te asesoremos,  ahorrarás tiempo y dinero.</p>
                </dd>

                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">picture_in_picture</i>
                        ¿OTROS SEGUROS?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Además del seguro vehicular y de salud. Tenemos muchos seguros para ofrecerte. A continuación la gama de seguros que también ofrecemos:</p>
                    <p><strong>Seguro de Viajes: </strong> Siéntete protegido en todo momento, la principal cobertura es la asistencia médica al viajero. Además tiene las siguientes coberturas: </p>
                    <p><strong>Seguro Domiciliario: </strong> Es un seguro, con servicio de asistencia domiciliara, especialmente creado para que tu hogar y todas tus pertenencias se encuentren protegidas ante cualquier imprevisto como incendio, robo, terremoto, maremoto, accidentes de trabajo en el hogar, entre otros. </p>
                    <p><strong>Seguro de Vida:</strong> Los seguros de vida son importantes para mantener el estilo de vida que tienes, tenemos diferentes planes para ti:</p>
                    <p><strong>Planes de Ahorro, Seguros con Retorno, Seguros con inversión, Seguros temporales, Seguros de sepelio</strong></p>

                </dd>


                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">record_voice_over</i>
                        ¿Que hacer en el caso de un siniestro vehicular?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Tendrás que repórtalo cuanto antes a la compañía con la cual contrataste el seguro, enviarán un procurador a la zona del siniestro, llámanos, nosotros te asesoraremos en todo momento.</p>
                    <p>La Positiva (1) 211-0-211 / Provincia 0800-1-0800 o 74-9000</p>
                    <p>Rimac Lima (1) 411-1111 / Provincia 0800 411-11</p>
                    <p>Pacífico (1) 415-1515</p>
                    <p>Mapfre (1) 213-3333</p>
                    <p>HDI (1) 230-3030</p>
                    <p><strong>Digital Brokers  (01) 759-7746</strong></p>
                </dd>

                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                       <i class="material-icons">format_align_left</i>
                        Términos y Condiciones de la Plataforma
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p>Digital Brokers es un corredor de seguros regulado por la SBS con registro J-0838. Las cotizaciones generadas tienen vigencia de 7 días y cualquier cambio imprevisto de tasas y condiciones, al ser establecidos por las compañías de seguros,  se harán efectivo en el momento.</p>
                    <p>La Información recopilada de los usuarios utilizando la plataforma se encuentra protegida, segura y es de uso exclusivo de Digital Brokers. Será usada para el mejoramiento de nuestros productos y servicios. </p>
                    <p>Todos los servicios, informaciones e imágenes exhibidas en este sitio están protegidas por derechos de Propiedad Intelectual y de Autor, y no podrán ser copiados, reproducidos, modificados, almacenados, transmitidos y/o utilizados a través de links a otros sitios Web.</p>
                    <p>Asimismo habiendo accedido a este sitio y a cualquiera de sus páginas, el usuario habrá aceptado automáticamente todos los términos y condiciones aquí establecidos. Por lo tanto, se agradece cesar la navegación o consulta pública de las páginas de este sitio en la eventualidad de no concordar con todos los términos y condiciones antes señalados.</p>
                    <p>Cualquier duda o sugerencia por favor, contáctenos.</p>
                </dd>

                <dt>
                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                        <i class="material-icons">accessibility</i>
                        ¿Cómo contactarme con Digitalbrokers?
                    </a>
                </dt>
                <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                    <p><storng>A continuación les mostramos nuestros canales de atención:</storng></p>
                    <p>Correo: Cliente@digitalbrokers.pe</p>
                    <p>Facebook Oficial: Digital Brokers</p>
                    <p>Teléfono : (01) 759-7746</p>
                </dd>
            </dl>

        </div>
    </div>

    <!--Footer-->
    <footer class="cf-footer mdl-mini-footer">
        <div class="mdl-mini-footer--top-section">
            <div class="mdl-mini-footer--left-section">
                <a href="#" class="mdl-mega-footer--social-btn"><img src="~/imagenes/twitter.png" alt="Twitter" /></a>
                <a href="#" class="mdl-mega-footer--social-btn"><img src="~/imagenes/facebook.png" alt="Twitter" /></a>
                <a href="#" class="mdl-mega-footer--social-btn"><img src="~/imagenes/youtube.png" alt="Twitter" /></a>
            </div>
        </div>
        <div class="mdl-mini-footer-middle-section">
            <p class="mdl-typography--font-light">
                DigitalBrokers S.A.C. Corredores de Seguros ® Es una Marca registrada. 2017 - Todos los derechos Reservados.
            </p>

        </div>
    </footer>
    <!--FIN Footer-->
</div>
   
    
    <script>
        //uses classList, setAttribute, and querySelectorAll
        //if you want this to work in IE8/9 youll need to polyfill these
        (function () {
            var d = document,
            accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
            setAria,
            setAccordionAria,
            switchAccordion,
          touchSupported = ('ontouchstart' in window),
          pointerSupported = ('pointerdown' in window);

            skipClickDelay = function (e) {
                e.preventDefault();
                e.target.click();
            }

            setAriaAttr = function (el, ariaType, newProperty) {
                el.setAttribute(ariaType, newProperty);
            };
            setAccordionAria = function (el1, el2, expanded) {
                switch (expanded) {
                    case "true":
                        setAriaAttr(el1, 'aria-expanded', 'true');
                        setAriaAttr(el2, 'aria-hidden', 'false');
                        break;
                    case "false":
                        setAriaAttr(el1, 'aria-expanded', 'false');
                        setAriaAttr(el2, 'aria-hidden', 'true');
                        break;
                    default:
                        break;
                }
            };
            //function
            switchAccordion = function (e) {
                console.log("triggered");
                e.preventDefault();
                var thisAnswer = e.target.parentNode.nextElementSibling;
                var thisQuestion = e.target;
                if (thisAnswer.classList.contains('is-collapsed')) {
                    setAccordionAria(thisQuestion, thisAnswer, 'true');
                } else {
                    setAccordionAria(thisQuestion, thisAnswer, 'false');
                }
                thisQuestion.classList.toggle('is-collapsed');
                thisQuestion.classList.toggle('is-expanded');
                thisAnswer.classList.toggle('is-collapsed');
                thisAnswer.classList.toggle('is-expanded');

                thisAnswer.classList.toggle('animateIn');
            };
            for (var i = 0, len = accordionToggles.length; i < len; i++) {
                if (touchSupported) {
                    accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
                }
                if (pointerSupported) {
                    accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
                }
                accordionToggles[i].addEventListener('click', switchAccordion, false);
            }
        })();
    </script>
