
@{
    ViewBag.Title = "Thankyou for Sale";
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="cf-slide-Compra mdl-typography--text-center">
    <div class="mdl-typography--text-center">
        <div class="cf-slogan-ppal cf-slogan">
            Tu Solicitud de Compra ha sido Registrada.
        </div>
        <div class="cf-paseo">
            ¡Gracias! En breve un Asesor especializado se comunicará contigo

        </div>

        <div class="mdl-typography--text-center">
            <div class="Compra-gracias">
                <img src="~/imagenes/Compra-gracias.png" alt="Gracias por tu Compra" />

            </div>
            <div class="botones">
                <a class="cf-botton-probar mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-typography--text-uppercase" href="https://www.digitalbrokers.pe/vehicular">Nueva Cotización Vehicular</a>

            </div>
        </div>

    </div>
</div>


