
@{
    ViewBag.Title = "Gracias";
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="cf-slide-gracias mdl-typography--text-center">
    <div class="cf-slogan-ppal cf-slogan">Solicitud de Llamada en curso.</div>
    <div class="cf-informacion-text">
        <p>El equipo de DigitalBrokers</p>
        <p><a href="~/Vehicular" class="cf-botton-probar mdl-button mdl-js-button">Prueba nuestro cotizador</a></p>
    </div>
    
</div>

<div class="mdl-typography--text-center">
    <!--INFORMACION-->
    <div class="cf-paseo">
        <div class="informacion-seguro">
            <div class="contenedor-informacion">
                <img src="~/imagenes/reloj.png" />
                <span>Rapidez</span>
                <p>Cotiza tu seguro vehicular con todas las aseguradoras del mercado en segundos.</p>
            </div>
            <div class="contenedor-informacion">
                <img src="~/imagenes/asistencia.png" />

                <span>Asistencia</span>
                <p>Te asistimos antes, durante y después de la contratación de tu seguro vehicular.</p>
            </div>
            <div class="contenedor-informacion">
                <img src="~/imagenes/ahorra_.png" />

                <span>Ahorro</span>
                <p>Contrata y gestiona tus seguros online, ahorrando tiempo y dinero, cotiza ahora.</p>
            </div>
        </div>

    </div>
    <!--FIN INFORMACION-->
    <!--ASEGURADORAS-->
    <div class="informacion-seguro">
        <div class="contenedor-seguros">
            <img src="~/imagenes/Seguros/Rimac.jpg" />

        </div>
        <div class="contenedor-seguros">
            <img src="~/imagenes/Seguros/Pacifico.jpg" />
        </div>
        <div class="contenedor-seguros">
            <img src="~/imagenes/Seguros/Mapfre.jpg" />
        </div>
        <div class="contenedor-seguros">
            <img src="~/imagenes/Seguros/La_Positiva.jpg" />
        </div>
        <div class="contenedor-seguros">
            <img src="~/imagenes/Seguros/HDI.jpg" />
        </div>

    </div>
    <!--FIN ASEGURADORAS-->
</div>
