<div class="cf-slide-Salud mdl-typography--text-center">
    <div class="cf-slogan-ppal cf-slogan">Protégete, tu salud es lo más importante</div>
    <div class="cf-slogan-ppal cf-slogan-sub">
        <!--Probar aQui el card-->
        <div class="formulariosalud mdl-card mdl-shadow--4dp">
            <div class="mdl-card__supporting-text">
                <h3>Completa los datos para cotizar.</h3>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" class="mdl-textfield__input" id="Nombres" placeholder="Nombres">

                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" class="mdl-textfield__input" id="Apellidos" placeholder="Apellidos">
                  
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="number" class="mdl-textfield__input" id="DNI" placeholder="DNI">

                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="number" class="mdl-textfield__input" id="Edad" maxlength="2" placeholder="Edad">
                    @*<label for="Edad" class="mdl-selectfield__label">Edad</label>*@

                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="Email" class="mdl-textfield__input" id="Email" placeholder="Email">

                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="number" class="mdl-textfield__input" id="Telefono" placeholder="Telefono">

                </div>

                <input type="button" class="cf-botton-probar mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-typography--text-uppercase" id="btnCotiza" value="Encontrar el mejor seguro" />

            </div>
        </div>

    <!--FIN AQUI DEL CARD-->
    </div>
    <div class="cf-slogan-ppal cf-slogan"></div>

    <div class="cf-paseo">
        <div class="informacion-seguro">
            <div class="contenedor-informacion">
                <img src="~/imagenes/clinicas.png" />
                <span>Clinicas</span>
                <p>La mejor red de clínicas, con coberturas en Lima y Provincias.</p>
            </div>
            <div class="contenedor-informacion">
                <img src="~/imagenes/doctors.png" />

                <span>Dr. en tu casa</span>
                <p>Recibe la atención médica especializada en la comodidad de tu hogar.</p>
            </div>
            <div class="contenedor-informacion">
                <img src="~/imagenes/salud.png" />

                <span>Salud</span>
                <p>Chequeos anuales gratuitos, cuidamos la salud de tus seres queridos.</p>
            </div>
        </div>
    </div>
    <!--FOOTER INICIO-->

    <footer class="cf-footer mdl-mini-footer">
        <div class="mdl-mini-footer--top-section">
            <div class="mdl-mini-footer--left-section">

                <a href="https://web.facebook.com/digitalbrokers/" class="mdl-mega-footer--social-btn"><img src="~/imagenes/facebook.png" alt="Twitter" /></a>

            </div>
        </div>
        <div class="mdl-mini-footer-middle-section">
            <p class="mdl-typography--font-light">
                DIGITAL BROKERS S.A.C. CORREDORES DE SEGUROS ® Es una Marca registrada. 2017 - Todos los derechos Reservados.
            </p>

        </div>
    </footer>
</div>
<script src="~/Scripts/base/optimize/cotizacion-salud.min.js"></script>